.edit{
    text-align: center;
    background-color: #BF7188;
    min-height: 700px;
    margin-top: 0%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 35%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #eb6100;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

.btn-malformation--pastel {
  background: #8C4A56;
  background: -webkit-linear-gradient(-45deg, #8C4A56 40%, #D9ADAD 100%);
  background: -webkit-linear-gradient(315deg, #8C4A56 40%, #D9ADAD 100%);
  background: linear-gradient(135deg, #8C4A56 40%, #D9ADAD 100%);
  -webkit-box-shadow: 30px 10px 0 #D9ADAD;
  box-shadow: 30px 10px 0 #D9ADAD;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca1a1', endColorstr='#fcfc5d', GradientType=1);
}

.form{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px 15px 50px 15px;
    border: solid #F2D785;
    border-left: solid #F2D785;
    border-radius: 10px;
    background-color: #F2D785;
}