.all{
  background-color: #BF7188;
  min-height:900px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 35%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #eb6100;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

.btn-malformation--pastel {
  background: #8C4A56;
  background: -webkit-linear-gradient(-45deg, #8C4A56 40%, #D9ADAD 100%);
  background: -webkit-linear-gradient(315deg, #8C4A56 40%, #D9ADAD 100%);
  background: linear-gradient(135deg, #8C4A56 40%, #D9ADAD 100%);
  -webkit-box-shadow: 30px 10px 0 #D9ADAD;
  box-shadow: 30px 10px 0 #D9ADAD;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca1a1', endColorstr='#fcfc5d', GradientType=1);
}
/*以上、検索バー*/

/*以下、サツマイモ*/


.silk{
    position:relative;
    width:750px;
    height:320px;
    background-color: #E3CE6D;
    border-radius: 50%;
    
    
    

    .black{
        position:absolute;
        top:150px;
        left:150px;
        width:200px;
        height:150px;
        
    }

    .white{
        position:absolute;
        top:10px;
        left:50px;
        width:750px;
        height:300px;
        background-color: rgba($color: #FFF, $alpha: 0.4);
        background-image: url(silksweet.jpg);
        background-blend-mode: lighten;
        clip-path: ellipse(300px 150px at 320px 150px);
    
    }

    .silksweet{
        position:relative;
        top: 95px;
        left: 100px;
        width:150px;
        height:150px;
        border-radius: 50%;
    }

    
}

.silkexplain{
  max-width: 50%;
  position: absolute;
  margin-left: 45%;
  margin-top: 15%;

}

.silktitle h3{
  font-size: 50px;
  position: absolute;
  bottom: 70px;
  left: 280px;
  
}



.annnou{
    margin-left: 800px;
    position:relative;
    top:50px;
    left:50px;
    width:600px;
    height:500px;
    background-color: #E3CE6D;
    border-radius: 40%;
    
    


    .black{
        position:absolute;
        top:150px;
        left:150px;
        width:200px;
        height:150px;
    }

    .white{
        position:absolute;
        
        width:550px;
        height:450px;
        right: 30px;
        top: 20px;
        background-color: rgba($color: #FFF, $alpha: 0.4);
        background-image: url(annnouimo.jpg);
        background-blend-mode: lighten;
        border-radius: 40%;
    }

    .annnouimo{
        position:relative;
        top:100px;
        margin-right:15px;
        width:150px;
        height:150px;
        border-radius: 50%;

    }
}

.annnouexplain{
  max-width: 50%;
  position: absolute;
}

.annnoutitle h3{
  font-size: 50px;
  position: absolute;
  right: 45%;
  
}

.beni{
    position:relative;
    top:20px;
    left:50px;
    width:400px;
    height:640px;
    bottom: 50px;  
    background-color: #E3CE6D;
    border-radius: 50%;
    
    

    .black{
        position:absolute;
        top:150px;
        left:150px;
        width:200px;
        height:150px;
        
        
    }

    .white{
        position:absolute;
        
        width:350px;
        height: 600px;
        bottom: 20px;
        left: 20px;
        background-color: rgba($color: #FFF, $alpha: 0.4);
        background-image: url(beniharuka.jpg);
        background-blend-mode: lighten;
        border-radius: 50%;
    }

    .beniharuka{
        position:relative;
        top:100px;
        left:100px;
        width:200px;
        height:200px;
        bottom: 30px;
        border-radius: 50%;
    }
}

.beniexplain{
  max-width: 60%;
  position: absolute;
  bottom: 20%;
}

.benititle h3{
  font-size: 45px;
  position: absolute;
  top: 400px;
  margin-left: 40%;
}



